/**
 * O mně sekce
 */

.about {
	&__content {
		&__title {
			font-size: 2rem;
			margin-bottom: 1.5rem;
		}

		&__text {
			margin-bottom: 1.5rem;
		}
	}

	&__counters-row {
		margin-bottom: 2rem;
	}
}
