/**
 * Navigace
 */

.navbar {
	padding: 1rem 0;
	transition: $transition;
	// @include glassmorphism();
	// background: linear-gradient(to right, $clr-boot-100, $clr-boot-200, $clr-boot-300, $clr-boot-400, $clr-boot-500);
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8dc26f, #76b852); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8dc26f, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;

	&--shrink {
		padding: 0.5rem 0;
		@include glassmorphism(true);
	}

	&__brand {
		font-weight: $font-weight-bold;
		font-size: 1.5rem;

		&:hover {
			color: $primary-dark;
		}
	}

	&__toggler {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid $dark-color;
		border-radius: 0.25rem;
		position: relative;
		z-index: 1031;
		display: none; // Skryjeme na desktopu

		@media (max-width: $breakpoint-lg) {
			display: block; // Zobrazíme pouze na mobilu
		}

		i {
			font-size: 1.2rem; // Mírně zvětšíme ikonu pro lepší viditelnost
			display: block; // Zajistíme, že ikona bude správně zobrazena
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	&__item {
		margin-left: 1rem;
	}

	&__link {
		font-weight: $font-weight-medium;
		padding: 0.5rem 0 !important;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $primary-dark;
			transition: $transition;
		}

		&:hover::after,
		&--active::after {
			width: 100%;
		}
	}

	// Mobilní menu - pouze pro větší zařízení, protože mobile je řešeno v mobile-first
	@media (min-width: $breakpoint-lg) {
		.navbar-collapse {
			padding: 0;
			border-radius: 0;
			margin-top: 0;
			box-shadow: none;
			max-height: none;
			overflow-y: visible;
		}

		.navbar-nav {
			padding: 0;
		}
	}
}
